

.img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.text {
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
}
