
.text {
  font-size: 36px;
  font-weight: 100;
  color: #ff4081;
  display: flex;
  justify-content: center;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
  margin-top: 40px;
  letter-spacing: 3px;
  text-align: center;
}

