html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
  background-color: #170e16;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-left: 40px;
  margin: 0;
  color: #e2e2e2;
  
}

ul,
ol {
  margin: 0;
  padding: 0;
}


a {
  text-decoration: none; 
  font-weight: 700;
  color: #e2e2e2; 
  cursor: pointer; 
}

a:hover {
  color: #db0eb8;
}



li {
  list-style: none;
  font-size: 21px;
  font-weight: 500px;
}


